<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getcivix.app.civixteam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.getcivix.app.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.getcivix.app.HomePage" />
        <activity android:name="com.getcivix.app.MapPage" />
        <activity android:name="com.getcivix.app.ListPage" />
        <activity android:name="com.getcivix.app.StatusPage" />
        <activity android:name="com.getcivix.app.TrashReport" />
        <activity android:name="com.getcivix.app.StreetReport" />
        <activity android:name="com.getcivix.app.SidewalkReport" />
        <activity android:name="com.getcivix.app.PropertyReport" />
        <activity android:name="com.getcivix.app.WaterReport" />
        <activity android:name="com.getcivix.app.RampReport" />
        <activity android:name="com.getcivix.app.BikeReport" />
        <activity android:name="com.getcivix.app.CrosswalkReport" />
        <activity android:name="com.getcivix.app.OtherReport"></activity>
    </application>

</manifest>