<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getcivix.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5OeXsFVi9m30L6csYEbF8xe7NEz8lnhU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".MapPage" />
        <activity android:name=".ListPage" />
        <activity android:name=".StatusPage" />
        <activity android:name=".TrashReport" />
        <activity android:name=".StreetReport" />
        <activity android:name=".SidewalkReport" />
        <activity android:name=".PropertyReport" />
        <activity android:name=".WaterReport" />
        <activity android:name=".RampReport" />
        <activity android:name=".BikeReport" />
        <activity android:name=".CrosswalkReport" />
        <activity android:name=".OtherReport" />
        <activity android:name=".SignupPage"></activity>
    </application>

</manifest>